body{
background-color:#ffffff;
font-size:30px;
font-family:verdana;
}
h1
{
background-color:#051014;
font-size:40px;
font-family:verdana;
color:black;
}
h2
{
background-color:#887880;
font-size:40px;
font-family:verdana;
color:white;
}
p1
{
background-color:#ffffff;
font-size:20px;
font-family:verdana;
color:black;
}
div1{
width:120px;
height:60px;
border:5px solid black;
margin:1;
background-color:#ffffff;
}

